-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: 127.0.0.1    Database: cambialo_rd
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
INSERT INTO `cache` VALUES ('password-reset:isidro17pereza@gmail.com','i:1;',1773500400),('password-reset:isidro17pereza@gmail.com:timer','i:1773500400;',1773500400);
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carritos`
--

DROP TABLE IF EXISTS `carritos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `carritos` (
  `id_carrito` int(11) NOT NULL AUTO_INCREMENT,
  `id_user` int(11) NOT NULL,
  `fecha_actualizacion` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `cantidad` int(11) DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_carrito`),
  KEY `id_miembro` (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carritos`
--

LOCK TABLES `carritos` WRITE;
/*!40000 ALTER TABLE `carritos` DISABLE KEYS */;
INSERT INTO `carritos` VALUES (6,4,'2025-09-09 12:22:39',1,NULL,NULL),(18,6,'2025-12-04 21:24:13',1,NULL,NULL);
/*!40000 ALTER TABLE `carritos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias_item`
--

DROP TABLE IF EXISTS `categorias_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categorias_item` (
  `id_categoria_item` int(11) NOT NULL AUTO_INCREMENT,
  `categoria` varchar(150) NOT NULL,
  PRIMARY KEY (`id_categoria_item`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias_item`
--

LOCK TABLES `categorias_item` WRITE;
/*!40000 ALTER TABLE `categorias_item` DISABLE KEYS */;
INSERT INTO `categorias_item` VALUES (1,'Instrumento musical'),(2,'Electrodomestico'),(3,'Electronico'),(4,'juegos'),(5,'Mueble (hogar)'),(6,'Vehiculos'),(7,'Herramienta'),(8,'Joya'),(9,'Clases/Lecciones'),(10,'Monetario'),(11,'Adulto'),(13,'Cuidado personal'),(14,'Decoraciones'),(15,'Deportes'),(16,'Hogar'),(17,'Jard├¡n'),(19,'Tel├®fonos'),(20,'Ni├▒os'),(21,'Antig├╝edades'),(22,'Veh├¡culos'),(23,'Mascotas'),(24,'Tecnolog├¡a'),(25,'Librer├¡a y Papeler├¡a'),(26,'Damas'),(27,'Caballeros'),(28,'Oficina'),(29,'Talentos');
/*!40000 ALTER TABLE `categorias_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `colors`
--

DROP TABLE IF EXISTS `colors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `colors` (
  `id_color` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `codigo_hex` varchar(7) NOT NULL,
  PRIMARY KEY (`id_color`)
) ENGINE=InnoDB AUTO_INCREMENT=113 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `colors`
--

LOCK TABLES `colors` WRITE;
/*!40000 ALTER TABLE `colors` DISABLE KEYS */;
/*!40000 ALTER TABLE `colors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compra_trazabilidad`
--

DROP TABLE IF EXISTS `compra_trazabilidad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `compra_trazabilidad` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_pago_compra` varchar(255) NOT NULL,
  `estado_anterior` varchar(255) DEFAULT NULL,
  `estado_nuevo` varchar(255) NOT NULL,
  `nota` text DEFAULT NULL,
  `id_admin` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compra_trazabilidad`
--

LOCK TABLES `compra_trazabilidad` WRITE;
/*!40000 ALTER TABLE `compra_trazabilidad` DISABLE KEYS */;
INSERT INTO `compra_trazabilidad` VALUES (2,'0196c9ab-1fe7-11f1-a2e8-f4ee08c6b2b7',NULL,'aprobado','Pago procesado correctamente.',NULL,'2026-03-15 14:13:05','2026-03-15 14:13:05'),(3,'0197a1bb-1fe7-11f1-a2e8-f4ee08c6b2b7',NULL,'aprobado','Pago procesado correctamente.',NULL,'2026-03-15 14:13:05','2026-03-15 14:13:05'),(4,'b3cafe05-3678-48f2-b282-ad6b8335b94c',NULL,'aprobado','Pago procesado correctamente. Autorizaci├│n: 573759',NULL,'2026-03-18 07:07:22','2026-03-18 07:07:22');
/*!40000 ALTER TABLE `compra_trazabilidad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deliveries`
--

DROP TABLE IF EXISTS `deliveries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `deliveries` (
  `id_delivery` int(11) NOT NULL AUTO_INCREMENT,
  `empresa` varchar(100) NOT NULL,
  `email` varchar(60) NOT NULL,
  `telefono` varchar(10) NOT NULL,
  PRIMARY KEY (`id_delivery`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deliveries`
--

LOCK TABLES `deliveries` WRITE;
/*!40000 ALTER TABLE `deliveries` DISABLE KEYS */;
INSERT INTO `deliveries` VALUES (1,'Transporte Blanco','servicios@transporte_blanco.com','8095469999'),(2,'Domex','servicios@domex.com','8096334747'),(3,'Ruta Loca','solicitudes@rutaloca.com.do','8097892323');
/*!40000 ALTER TABLE `deliveries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `delivery_config`
--

DROP TABLE IF EXISTS `delivery_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `delivery_config` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `clave` varchar(255) NOT NULL,
  `porcentaje` decimal(5,2) NOT NULL,
  `porcentaje_plataforma` decimal(5,2) NOT NULL DEFAULT 0.00 COMMENT '% que cobra la plataforma por gesti├│n del env├¡o',
  `porcentaje_seguro` decimal(5,2) NOT NULL DEFAULT 0.00 COMMENT '% de seguro sobre el valor del art├¡culo',
  `porcentaje_manejo` decimal(5,2) NOT NULL DEFAULT 0.00 COMMENT '% de manejo y empaque',
  `descripcion` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `delivery_config_clave_unique` (`clave`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `delivery_config`
--

LOCK TABLES `delivery_config` WRITE;
/*!40000 ALTER TABLE `delivery_config` DISABLE KEYS */;
INSERT INTO `delivery_config` VALUES (1,'cortas',36.00,50.00,50.00,50.00,'Zonas cortas - porcentaje de utilidad','2026-03-17 00:15:58','2026-03-20 06:32:31'),(2,'largas',46.00,50.00,50.00,50.00,'Zonas largas - porcentaje de utilidad','2026-03-17 00:15:58','2026-03-20 06:32:34'),(3,'especiales',21.00,50.00,50.00,50.00,'Zonas especiales - porcentaje de utilidad','2026-03-17 00:15:58','2026-03-20 06:32:37');
/*!40000 ALTER TABLE `delivery_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `delivery_zonas`
--

DROP TABLE IF EXISTS `delivery_zonas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `delivery_zonas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `zona` varchar(255) NOT NULL,
  `tipo` varchar(255) NOT NULL DEFAULT 'corta',
  `pueblos` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`pueblos`)),
  `precio_empresa` decimal(10,2) NOT NULL,
  `precio_persona` decimal(10,2) NOT NULL,
  `dias_entrega` varchar(255) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `delivery_zonas`
--

LOCK TABLES `delivery_zonas` WRITE;
/*!40000 ALTER TABLE `delivery_zonas` DISABLE KEYS */;
/*!40000 ALTER TABLE `delivery_zonas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `direcciones`
--

DROP TABLE IF EXISTS `direcciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `direcciones` (
  `id_direccion` int(11) NOT NULL AUTO_INCREMENT,
  `calle` varchar(60) NOT NULL,
  `N_casa_edificio` varchar(100) DEFAULT NULL,
  `apto` varchar(15) DEFAULT NULL,
  `id_provincia` varchar(100) NOT NULL,
  `id_municipio` varchar(100) DEFAULT NULL,
  `geolocalizacion` varchar(100) DEFAULT NULL,
  `id_user` int(11) DEFAULT NULL,
  `sector` varchar(100) DEFAULT NULL,
  `telefono_contacto` varchar(20) DEFAULT NULL,
  `es_predeterminada` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id_direccion`),
  KEY `id_provincia` (`id_provincia`),
  KEY `id_municipio` (`id_municipio`),
  KEY `idx_direcciones_user_predeterminada` (`id_user`,`es_predeterminada`),
  CONSTRAINT `direcciones_ibfk_1` FOREIGN KEY (`id_provincia`) REFERENCES `provincias` (`id_provincia`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `direcciones_ibfk_2` FOREIGN KEY (`id_municipio`) REFERENCES `municipios` (`id_municipio`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `direcciones`
--

LOCK TABLES `direcciones` WRITE;
/*!40000 ALTER TABLE `direcciones` DISABLE KEYS */;
INSERT INTO `direcciones` VALUES (15,'las colinas','203d','101cd','02','01-02','18.482323, -69.980194',2,'los cayacanesd','809/590/0808',0),(17,'dasas','asa2','asas','08','02-08','18.482900, -69.896400',2,'asasas','849/590/0707',1),(19,'las colinas','ws12','1b','12','01-12','18.482341, -69.980135',3,'los cocos','8095900707',1),(20,'la calle','2b','23b','03','01-03','18.474122, -69.904909',4,'SALCEDO','8095900707',1);
/*!40000 ALTER TABLE `direcciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `distritos_municipales`
--

DROP TABLE IF EXISTS `distritos_municipales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `distritos_municipales` (
  `id_distmunicipal` varchar(8) NOT NULL,
  `distrito_municipal` varchar(200) NOT NULL,
  `id_municipio` varchar(5) NOT NULL,
  PRIMARY KEY (`id_distmunicipal`),
  KEY `id_municipio` (`id_municipio`),
  CONSTRAINT `distritos_municipales_ibfk_1` FOREIGN KEY (`id_municipio`) REFERENCES `municipios` (`id_municipio`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `distritos_municipales`
--

LOCK TABLES `distritos_municipales` WRITE;
/*!40000 ALTER TABLE `distritos_municipales` DISABLE KEYS */;
/*!40000 ALTER TABLE `distritos_municipales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facturas_transporte_transaccion`
--

DROP TABLE IF EXISTS `facturas_transporte_transaccion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `facturas_transporte_transaccion` (
  `id_factura` int(11) NOT NULL AUTO_INCREMENT,
  `id_delivery` int(11) NOT NULL,
  `valor` double NOT NULL,
  `fecha` datetime DEFAULT current_timestamp(),
  `id_oferta` int(11) NOT NULL,
  `id_miembro` int(11) NOT NULL,
  `pagada` tinyint(1) unsigned DEFAULT 0,
  PRIMARY KEY (`id_factura`),
  KEY `id_delivery` (`id_delivery`),
  KEY `id_oferta` (`id_oferta`),
  KEY `id_miembro` (`id_miembro`),
  CONSTRAINT `facturas_transporte_transaccion_ibfk_1` FOREIGN KEY (`id_delivery`) REFERENCES `deliveries` (`id_delivery`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `facturas_transporte_transaccion_ibfk_2` FOREIGN KEY (`id_oferta`) REFERENCES `ofertas` (`id_oferta`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facturas_transporte_transaccion`
--

LOCK TABLES `facturas_transporte_transaccion` WRITE;
/*!40000 ALTER TABLE `facturas_transporte_transaccion` DISABLE KEYS */;
INSERT INTO `facturas_transporte_transaccion` VALUES (1,1,256.45,'2025-03-26 10:04:45',1,1,0),(2,1,341.16,'2025-03-26 10:04:45',1,2,0);
/*!40000 ALTER TABLE `facturas_transporte_transaccion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `imagenes_item`
--

DROP TABLE IF EXISTS `imagenes_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `imagenes_item` (
  `id_imagen` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `extension` varchar(5) DEFAULT NULL,
  `id_item` int(11) NOT NULL,
  `orden_visualizacion` int(11) DEFAULT 0,
  `ruta` varchar(255) DEFAULT NULL,
  `tipo` varchar(255) NOT NULL DEFAULT 'imagen',
  PRIMARY KEY (`id_imagen`),
  KEY `id_item` (`id_item`),
  CONSTRAINT `imagenes_item_ibfk_1` FOREIGN KEY (`id_item`) REFERENCES `items` (`id_item`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=490 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `imagenes_item`
--

LOCK TABLES `imagenes_item` WRITE;
/*!40000 ALTER TABLE `imagenes_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `imagenes_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario_items`
--

DROP TABLE IF EXISTS `inventario_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventario_items` (
  `id_inventario` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_item` int(10) unsigned NOT NULL,
  `cantidad` int(11) NOT NULL DEFAULT 0,
  `fecha` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_inventario`)
) ENGINE=InnoDB AUTO_INCREMENT=113 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario_items`
--

LOCK TABLES `inventario_items` WRITE;
/*!40000 ALTER TABLE `inventario_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventario_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item_color`
--

DROP TABLE IF EXISTS `item_color`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `item_color` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `item_id` int(11) NOT NULL,
  `color_id` int(11) NOT NULL,
  `fecha` date NOT NULL,
  `stock` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_item_color` (`item_id`,`color_id`),
  KEY `color_id` (`color_id`),
  CONSTRAINT `item_color_ibfk_1` FOREIGN KEY (`item_id`) REFERENCES `items` (`id_item`) ON DELETE CASCADE,
  CONSTRAINT `item_color_ibfk_2` FOREIGN KEY (`color_id`) REFERENCES `colors` (`id_color`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item_color`
--

LOCK TABLES `item_color` WRITE;
/*!40000 ALTER TABLE `item_color` DISABLE KEYS */;
INSERT INTO `item_color` VALUES (1,111,1,'2025-06-30',12),(2,111,2,'2025-06-30',12),(3,111,3,'2025-06-30',12),(4,113,75,'2025-06-30',100),(5,113,13,'2025-06-30',100),(7,34,80,'2025-06-30',3),(8,116,80,'2025-07-01',100),(9,120,5,'2025-09-17',100);
/*!40000 ALTER TABLE `item_color` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item_views`
--

DROP TABLE IF EXISTS `item_views`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `item_views` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_item` int(11) NOT NULL,
  `ip_address` varchar(255) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_item_views_item` (`id_item`),
  CONSTRAINT `fk_item_views_item` FOREIGN KEY (`id_item`) REFERENCES `items` (`id_item`)
) ENGINE=InnoDB AUTO_INCREMENT=55 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item_views`
--

LOCK TABLES `item_views` WRITE;
/*!40000 ALTER TABLE `item_views` DISABLE KEYS */;
/*!40000 ALTER TABLE `item_views` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `items`
--

DROP TABLE IF EXISTS `items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `items` (
  `id_item` int(11) NOT NULL AUTO_INCREMENT,
  `item` varchar(200) NOT NULL,
  `id_categoria_item` int(11) DEFAULT NULL,
  `peso_lbs` float NOT NULL,
  `alto_cm` float NOT NULL,
  `ancho_cm` float NOT NULL,
  `profundo_cm` float NOT NULL,
  `estatus` tinyint(1) unsigned NOT NULL DEFAULT 2,
  `id_user` int(11) NOT NULL,
  `fecha` datetime DEFAULT current_timestamp(),
  `tipo_trans` tinyint(3) unsigned DEFAULT NULL,
  `condicion` tinyint(1) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `id_tipo_item` int(11) DEFAULT NULL,
  `valor` double DEFAULT NULL,
  `descuento` decimal(4,2) DEFAULT NULL,
  `presentacion` varchar(250) NOT NULL,
  `tiene_video` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id_item`),
  KEY `fk_items_tipos_item` (`id_tipo_item`),
  KEY `idx_items_tipo_estatus_fecha` (`tipo_trans`,`estatus`,`fecha`),
  KEY `idx_items_categoria_estatus` (`id_categoria_item`,`estatus`),
  KEY `idx_items_user_estatus` (`id_user`,`estatus`),
  CONSTRAINT `fk_items_tipos_item` FOREIGN KEY (`id_tipo_item`) REFERENCES `tipos_item` (`id_tipo_item`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `items_ibfk_2` FOREIGN KEY (`id_categoria_item`) REFERENCES `categorias_item` (`id_categoria_item`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=152 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `items`
--

LOCK TABLES `items` WRITE;
/*!40000 ALTER TABLE `items` DISABLE KEYS */;
/*!40000 ALTER TABLE `items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `items_intencion_compra`
--

DROP TABLE IF EXISTS `items_intencion_compra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `items_intencion_compra` (
  `id_item_intencion_compra` int(11) NOT NULL AUTO_INCREMENT,
  `id_carrito` int(11) NOT NULL,
  `id_item` int(11) NOT NULL,
  `cantidad` int(11) DEFAULT 1,
  `es_seleccionado` tinyint(1) NOT NULL,
  `descuento` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id_item_intencion_compra`),
  KEY `id_carrito` (`id_carrito`),
  KEY `id_item` (`id_item`),
  CONSTRAINT `items_intencion_compra_ibfk_1` FOREIGN KEY (`id_carrito`) REFERENCES `carritos` (`id_carrito`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `items_intencion_compra_ibfk_2` FOREIGN KEY (`id_item`) REFERENCES `items` (`id_item`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `items_intencion_compra`
--

LOCK TABLES `items_intencion_compra` WRITE;
/*!40000 ALTER TABLE `items_intencion_compra` DISABLE KEYS */;
INSERT INTO `items_intencion_compra` VALUES (34,18,116,1,1,0.00),(40,6,120,4,1,0.00),(41,6,117,2,1,0.00);
/*!40000 ALTER TABLE `items_intencion_compra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `items_oferta`
--

DROP TABLE IF EXISTS `items_oferta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `items_oferta` (
  `id_item_oferta` int(11) NOT NULL AUTO_INCREMENT,
  `id_paquete` int(11) DEFAULT NULL,
  `fecha` datetime DEFAULT current_timestamp(),
  `id_item` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_item_oferta`),
  KEY `id_item` (`id_item`),
  KEY `id_paquete` (`id_paquete`),
  CONSTRAINT `items_oferta_ibfk_1` FOREIGN KEY (`id_item`) REFERENCES `items` (`id_item`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `items_oferta_ibfk_2` FOREIGN KEY (`id_paquete`) REFERENCES `paquetes` (`id_paquete`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `items_oferta`
--

LOCK TABLES `items_oferta` WRITE;
/*!40000 ALTER TABLE `items_oferta` DISABLE KEYS */;
/*!40000 ALTER TABLE `items_oferta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `messages` (
  `id` int(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_emisor` bigint(20) unsigned NOT NULL,
  `id_receptor` bigint(20) unsigned NOT NULL,
  `id_oferta` int(11) DEFAULT NULL,
  `id_paquete` int(11) DEFAULT NULL,
  `mensaje` text NOT NULL,
  `leido` tinyint(1) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_sender` (`id_emisor`),
  KEY `fk_receiver` (`id_receptor`),
  KEY `fk_item` (`id_oferta`),
  CONSTRAINT `fk_item` FOREIGN KEY (`id_oferta`) REFERENCES `items` (`id_item`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messages`
--

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `miembros`
--

DROP TABLE IF EXISTS `miembros`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `miembros` (
  `id_miembro` bigint(20) unsigned NOT NULL,
  `nombres` varchar(60) NOT NULL,
  `apellidos` varchar(60) NOT NULL,
  `email` varchar(60) NOT NULL,
  `telefono` varchar(10) NOT NULL,
  `id_plan` int(11) NOT NULL DEFAULT 1,
  `calle` varchar(60) NOT NULL,
  `casa_numero` varchar(15) DEFAULT NULL,
  `apto` varchar(15) DEFAULT NULL,
  `edificio` varchar(15) DEFAULT NULL,
  `id_provincia` varchar(100) NOT NULL,
  `id_municipio` varchar(100) DEFAULT NULL,
  `geolocalizacion` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id_miembro`),
  KEY `id_plan` (`id_plan`),
  KEY `id_provincia` (`id_provincia`),
  KEY `id_municipio` (`id_municipio`),
  CONSTRAINT `fk_miembros_users` FOREIGN KEY (`id_miembro`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `miembros_ibfk_1` FOREIGN KEY (`id_plan`) REFERENCES `planes` (`id_plan`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `miembros_ibfk_2` FOREIGN KEY (`id_provincia`) REFERENCES `provincias` (`id_provincia`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `miembros_ibfk_3` FOREIGN KEY (`id_municipio`) REFERENCES `municipios` (`id_municipio`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `miembros`
--

LOCK TABLES `miembros` WRITE;
/*!40000 ALTER TABLE `miembros` DISABLE KEYS */;
INSERT INTO `miembros` VALUES (3,'Thalia','Ure├▒a Calca├▒o','thaliaurenna@gamil.com','8095900707',1,'Calle Primera','12','A1','Residencial Pal','01','01-01','18.486500,-69.931200'),(4,'Isidro','Perez','isidro17pereza@gmail.com','8095900707',2,'Av. Independencia','45','B3','Torre Real','01','01-01','18.463200,-69.939800'),(6,'Julio','Santos Mendez','santosmendezjulio2@gmail.com','8095900707',1,'Calle Duarte','88','C2','Edificio Centra','01','01-01','18.471000,-69.892000');
/*!40000 ALTER TABLE `miembros` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `municipios`
--

DROP TABLE IF EXISTS `municipios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `municipios` (
  `id_municipio` varchar(5) NOT NULL,
  `municipio` varchar(200) NOT NULL,
  `id_provincia` varchar(2) DEFAULT NULL,
  PRIMARY KEY (`id_municipio`),
  KEY `id_provincia` (`id_provincia`),
  CONSTRAINT `municipios_ibfk_1` FOREIGN KEY (`id_provincia`) REFERENCES `provincias` (`id_provincia`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `municipios`
--

LOCK TABLES `municipios` WRITE;
/*!40000 ALTER TABLE `municipios` DISABLE KEYS */;
/*!40000 ALTER TABLE `municipios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `negociaciones`
--

DROP TABLE IF EXISTS `negociaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `negociaciones` (
  `id_negociacion` int(11) NOT NULL AUTO_INCREMENT,
  `emisor_paquete_id` int(10) unsigned DEFAULT NULL,
  `receptor_item_id` int(11) NOT NULL,
  `usuario_emisor_id` int(11) NOT NULL,
  `usuario_receptor_id` int(11) NOT NULL,
  `mensaje_inicial` text NOT NULL,
  `monto_oferta` decimal(10,2) DEFAULT NULL,
  `monto_contra_oferta` decimal(10,2) DEFAULT NULL,
  `estado` varchar(50) NOT NULL,
  `fecha_creacion` datetime DEFAULT current_timestamp(),
  `fecha_actualizacion` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_negociacion`),
  KEY `item_id` (`receptor_item_id`),
  KEY `usuario_id` (`usuario_emisor_id`),
  KEY `usuario_receptor_id` (`usuario_receptor_id`),
  CONSTRAINT `negociaciones_ibfk_1` FOREIGN KEY (`receptor_item_id`) REFERENCES `items` (`id_item`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `negociaciones`
--

LOCK TABLES `negociaciones` WRITE;
/*!40000 ALTER TABLE `negociaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `negociaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notas`
--

DROP TABLE IF EXISTS `notas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notas` (
  `id_nota` int(11) NOT NULL AUTO_INCREMENT,
  `fecha` datetime DEFAULT current_timestamp(),
  `id_oferta` int(11) NOT NULL,
  `visualizado` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id_nota`),
  KEY `id_oferta` (`id_oferta`),
  CONSTRAINT `notas_ibfk_1` FOREIGN KEY (`id_oferta`) REFERENCES `ofertas` (`id_oferta`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notas`
--

LOCK TABLES `notas` WRITE;
/*!40000 ALTER TABLE `notas` DISABLE KEYS */;
INSERT INTO `notas` VALUES (1,'2025-03-26 10:04:45',1,0);
/*!40000 ALTER TABLE `notas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notas_detalles`
--

DROP TABLE IF EXISTS `notas_detalles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notas_detalles` (
  `id_nota_detalle` int(11) NOT NULL AUTO_INCREMENT,
  `nota` varchar(100) NOT NULL,
  PRIMARY KEY (`id_nota_detalle`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notas_detalles`
--

LOCK TABLES `notas_detalles` WRITE;
/*!40000 ALTER TABLE `notas_detalles` DISABLE KEYS */;
INSERT INTO `notas_detalles` VALUES (1,'aceptada'),(2,'rechazada'),(3,'items no son de interes'),(4,'oferta por debajo de expectativa');
/*!40000 ALTER TABLE `notas_detalles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ofertas`
--

DROP TABLE IF EXISTS `ofertas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ofertas` (
  `id_oferta` int(11) NOT NULL AUTO_INCREMENT,
  `oferente` int(11) NOT NULL,
  `beneficiario` int(11) NOT NULL,
  `fecha` datetime DEFAULT current_timestamp(),
  `condicion` varchar(60) DEFAULT 'PENDIENTE',
  `id_paquete` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_oferta`),
  KEY `oferente` (`oferente`),
  KEY `beneficiario` (`beneficiario`),
  KEY `id_paquete` (`id_paquete`),
  CONSTRAINT `ofertas_ibfk_3` FOREIGN KEY (`id_paquete`) REFERENCES `paquetes` (`id_paquete`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ofertas`
--

LOCK TABLES `ofertas` WRITE;
/*!40000 ALTER TABLE `ofertas` DISABLE KEYS */;
INSERT INTO `ofertas` VALUES (1,1,2,'2025-03-26 10:04:45','PENDIENTE',1);
/*!40000 ALTER TABLE `ofertas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pago_items`
--

DROP TABLE IF EXISTS `pago_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pago_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_pago_compra` varchar(255) NOT NULL,
  `id_item` bigint(20) unsigned DEFAULT NULL,
  `nombre_item` varchar(255) NOT NULL,
  `precio_unitario` decimal(10,2) NOT NULL,
  `cantidad` smallint(5) unsigned NOT NULL DEFAULT 1,
  `descuento` decimal(10,2) NOT NULL DEFAULT 0.00,
  `subtotal` decimal(10,2) NOT NULL,
  `imagen_url` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pago_items_id_pago_compra_index` (`id_pago_compra`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pago_items`
--

LOCK TABLES `pago_items` WRITE;
/*!40000 ALTER TABLE `pago_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `pago_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagos_compra`
--

DROP TABLE IF EXISTS `pagos_compra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pagos_compra` (
  `id_pago_compra` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_carrito` int(11) NOT NULL,
  `fecha` datetime DEFAULT current_timestamp(),
  `estatus` varchar(30) NOT NULL DEFAULT 'pendiente',
  `total` decimal(10,2) DEFAULT NULL,
  `cantidad_items` smallint(5) unsigned NOT NULL DEFAULT 0,
  `id_direccion` int(11) DEFAULT NULL,
  `id_tarjeta` varchar(36) NOT NULL,
  `autorizacion_pago` varchar(50) DEFAULT NULL,
  `transaction_id` varchar(255) DEFAULT NULL,
  `id_proveedor_pago` int(11) NOT NULL,
  PRIMARY KEY (`id_pago_compra`),
  KEY `id_carrito` (`id_carrito`),
  KEY `id_tarjeta` (`id_tarjeta`),
  KEY `id_proveedor_pago` (`id_proveedor_pago`),
  KEY `pagos_compra_id_direccion_foreign` (`id_direccion`),
  CONSTRAINT `pagos_compra_ibfk_1` FOREIGN KEY (`id_carrito`) REFERENCES `carritos` (`id_carrito`),
  CONSTRAINT `pagos_compra_ibfk_2` FOREIGN KEY (`id_tarjeta`) REFERENCES `tarjetas_pagos` (`id_tarjeta`),
  CONSTRAINT `pagos_compra_ibfk_3` FOREIGN KEY (`id_proveedor_pago`) REFERENCES `proveedores_pago` (`id_proveedor_pago`),
  CONSTRAINT `pagos_compra_id_direccion_foreign` FOREIGN KEY (`id_direccion`) REFERENCES `direcciones` (`id_direccion`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagos_compra`
--

LOCK TABLES `pagos_compra` WRITE;
/*!40000 ALTER TABLE `pagos_compra` DISABLE KEYS */;
INSERT INTO `pagos_compra` VALUES ('0196c9ab-1fe7-11f1-a2e8-f4ee08c6b2b7',6,'2026-03-14 16:46:37','aprobado',20121.00,7,20,'f085ea22-1fe6-11f1-a2e8-f4ee08c6b2b7','787837','txn-3Ax55GOHjPVkiZRbk6XfAE0rOoK',1),('0197a1bb-1fe7-11f1-a2e8-f4ee08c6b2b7',6,'2026-03-14 16:46:37','aprobado',7000.00,2,20,'f085ea22-1fe6-11f1-a2e8-f4ee08c6b2b7','787837','txn-3Ax55GOHjPVkiZRbk6XfAE0rOoK',1),('b3cafe05-3678-48f2-b282-ad6b8335b94c',6,'2026-03-17 23:07:22','aprobado',13116.00,5,20,'f085ea22-1fe6-11f1-a2e8-f4ee08c6b2b7','573759','txn-3B6IlFQY5YFgzLn5j8pA6s7phuc',1);
/*!40000 ALTER TABLE `pagos_compra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paquetes`
--

DROP TABLE IF EXISTS `paquetes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `paquetes` (
  `nombre_paquete` varchar(100) NOT NULL,
  `id_paquete` int(11) NOT NULL AUTO_INCREMENT,
  `estatus` tinyint(4) NOT NULL,
  `fecha` datetime DEFAULT current_timestamp(),
  `id_user` int(11) NOT NULL,
  PRIMARY KEY (`id_paquete`),
  KEY `beneficiario` (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paquetes`
--

LOCK TABLES `paquetes` WRITE;
/*!40000 ALTER TABLE `paquetes` DISABLE KEYS */;
INSERT INTO `paquetes` VALUES ('musica paquete',1,1,'2025-03-26 10:04:45',2),('nombre correcto',19,1,'2025-10-24 21:42:08',4),('paquete general',20,1,'2025-10-26 19:02:40',4),('verificacion de ofer',22,1,'2025-10-27 12:20:02',4),('Prueba de refree',23,1,'2025-10-27 12:31:48',4),('prueba de espera',24,1,'2025-10-27 13:41:04',4),('zapato paquete',25,1,'2025-10-27 13:41:32',4);
/*!40000 ALTER TABLE `paquetes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `planes`
--

DROP TABLE IF EXISTS `planes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `planes` (
  `id_plan` int(11) NOT NULL AUTO_INCREMENT,
  `plan` varchar(100) NOT NULL,
  `valor` double NOT NULL,
  PRIMARY KEY (`id_plan`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `planes`
--

LOCK TABLES `planes` WRITE;
/*!40000 ALTER TABLE `planes` DISABLE KEYS */;
INSERT INTO `planes` VALUES (1,'Basico',0),(2,'Compra',300),(3,'Trueque',500);
/*!40000 ALTER TABLE `planes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `predefined_messages`
--

DROP TABLE IF EXISTS `predefined_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `predefined_messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `titulo` varchar(100) NOT NULL,
  `mensaje` text NOT NULL,
  `tipo` varchar(50) DEFAULT 'general',
  `rol` varchar(255) NOT NULL DEFAULT 'general' COMMENT 'emisor | receptor | general',
  `activo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `Clasificador` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_predefined_tipo_rol_titulo` (`tipo`,`rol`,`titulo`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `predefined_messages`
--

LOCK TABLES `predefined_messages` WRITE;
/*!40000 ALTER TABLE `predefined_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `predefined_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedores_pago`
--

DROP TABLE IF EXISTS `proveedores_pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `proveedores_pago` (
  `id_proveedor_pago` int(11) NOT NULL AUTO_INCREMENT,
  `proveedor_pago` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id_proveedor_pago`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedores_pago`
--

LOCK TABLES `proveedores_pago` WRITE;
/*!40000 ALTER TABLE `proveedores_pago` DISABLE KEYS */;
INSERT INTO `proveedores_pago` VALUES (1,'Azul');
/*!40000 ALTER TABLE `proveedores_pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `provincias`
--

DROP TABLE IF EXISTS `provincias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `provincias` (
  `id_provincia` varchar(2) NOT NULL,
  `provincia` varchar(200) NOT NULL,
  PRIMARY KEY (`id_provincia`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `provincias`
--

LOCK TABLES `provincias` WRITE;
/*!40000 ALTER TABLE `provincias` DISABLE KEYS */;
/*!40000 ALTER TABLE `provincias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ratings`
--

DROP TABLE IF EXISTS `ratings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ratings` (
  `id_rating` int(11) NOT NULL AUTO_INCREMENT,
  `rating` decimal(10,2) DEFAULT NULL,
  `id_usuario` int(11) NOT NULL,
  `fecha` datetime DEFAULT current_timestamp(),
  `id_miembro` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_rating`),
  KEY `id_usuario` (`id_usuario`),
  KEY `id_miembro` (`id_miembro`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ratings`
--

LOCK TABLES `ratings` WRITE;
/*!40000 ALTER TABLE `ratings` DISABLE KEYS */;
INSERT INTO `ratings` VALUES (1,4.50,1,'2025-03-26 10:04:45',2),(2,4.00,3,'2025-03-26 10:04:45',4);
/*!40000 ALTER TABLE `ratings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tarjetas_pagos`
--

DROP TABLE IF EXISTS `tarjetas_pagos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tarjetas_pagos` (
  `id_tarjeta` char(36) NOT NULL DEFAULT uuid(),
  `no_tarjeta` varchar(19) DEFAULT NULL,
  `payment_method_id` varchar(100) DEFAULT NULL,
  `last4` varchar(4) DEFAULT NULL,
  `tipo_tarjeta` tinyint(5) DEFAULT NULL,
  `nombre_titular` varchar(60) DEFAULT NULL,
  `banco_tarjeta` varchar(50) DEFAULT NULL,
  `mes_expiracion` tinyint(4) NOT NULL,
  `a├▒o_expiracion` int(11) NOT NULL,
  `estatus` tinyint(1) DEFAULT 0,
  `usar_esta_tarjeta` tinyint(4) NOT NULL DEFAULT 0,
  `id_user` int(11) NOT NULL,
  PRIMARY KEY (`id_tarjeta`),
  KEY `id_miembro` (`id_user`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tarjetas_pagos`
--

LOCK TABLES `tarjetas_pagos` WRITE;
/*!40000 ALTER TABLE `tarjetas_pagos` DISABLE KEYS */;
INSERT INTO `tarjetas_pagos` VALUES ('5f6af58e-09aa-11f0-8dd8-e00af6512a8a',NULL,'','0',3,'','BANRESERVAS',11,2032,0,0,4),('f085ea22-1fe6-11f1-a2e8-f4ee08c6b2b7','5297331004613535',NULL,'3535',NULL,'isidro perez','RESERVAS',4,2030,1,1,4);
/*!40000 ALTER TABLE `tarjetas_pagos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipos_item`
--

DROP TABLE IF EXISTS `tipos_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipos_item` (
  `id_tipo_item` int(11) NOT NULL AUTO_INCREMENT,
  `tipo_item` varchar(100) NOT NULL,
  `creado_por` int(11) NOT NULL,
  `creado_en` datetime NOT NULL DEFAULT current_timestamp(),
  `actualizado_en` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  `actualizado_por` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_tipo_item`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipos_item`
--

LOCK TABLES `tipos_item` WRITE;
/*!40000 ALTER TABLE `tipos_item` DISABLE KEYS */;
INSERT INTO `tipos_item` VALUES (1,'Producto',6,'2025-04-07 08:49:10',NULL,NULL),(2,'Servicio',6,'2025-04-07 08:49:10',NULL,NULL),(3,'Monetario',6,'2025-04-07 08:49:10',NULL,NULL),(4,'Trueque',6,'2025-04-07 08:49:10','2025-05-15 18:41:54',NULL);
/*!40000 ALTER TABLE `tipos_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipos_usuarios`
--

DROP TABLE IF EXISTS `tipos_usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipos_usuarios` (
  `id_tipo_usuario` int(11) NOT NULL AUTO_INCREMENT,
  `tipo` varchar(100) NOT NULL,
  `creado_en` datetime NOT NULL DEFAULT current_timestamp(),
  `actualizado_en` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_tipo_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipos_usuarios`
--

LOCK TABLES `tipos_usuarios` WRITE;
/*!40000 ALTER TABLE `tipos_usuarios` DISABLE KEYS */;
INSERT INTO `tipos_usuarios` VALUES (1,'Comprador','2025-04-23 15:03:06',NULL),(2,'Troqueador','2025-04-23 15:03:06',NULL),(3,'Administrador','2025-04-23 15:03:06',NULL);
/*!40000 ALTER TABLE `tipos_usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL,
  `nombres` varchar(255) NOT NULL,
  `apellidos` varchar(255) NOT NULL,
  `telefono` varchar(14) NOT NULL,
  `nombre_usuario` varchar(60) NOT NULL,
  `email` varchar(255) NOT NULL,
  `foto_perfil` varchar(255) DEFAULT NULL,
  `google_id` varchar(255) DEFAULT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `estatus` tinyint(1) NOT NULL DEFAULT 1,
  `id_tipo_usuario` bigint(20) unsigned NOT NULL DEFAULT 2,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `isAdmin` tinyint(1) NOT NULL,
  `isSuperAdmin` tinyint(1) NOT NULL DEFAULT 0,
  `profile_photo_path` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_nombre_usuario_unique` (`nombre_usuario`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-20 12:37:26
